<div class="jumbotron jumbotron-fluid">
    <div class="container" id="welcome">
        <h1 class="display-4">Welcome to the Burger Lounge</h1>
        <p class="lead">Create Your Own Burger or Devour an Existing One</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div id="burger-menu">
            <h2>Available Burgers!</h2>
            {{#each burgers}}
            {{#unless devoured}}
            <form class="form-inline customer-form">
                <div class="form-group mb-2">
                    <label for="burger-name" class="sr-only">{{burger_name}}</label>
                    <input type="text" readonly class="form-control-plaintext" id="burger-name" value="{{burger_name}}">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="customer-name" class="sr-only">Customer</label>
                    <input type="text" class="form-control" id="eaten-by" placeholder="Customer Name">
                </div>
                <button type="submit" class="btn btn-outline-danger devour" data-id="{{id}}" data-devoured="true">Devour
                    It!</button>
            </form>
            {{/unless}}
            {{/each}}
        </div>
    </div>

    <div class="col-md-6">
        <div id="eaten-burgers">
            <h2>Burgers Already Devoured!</h2>
            {{#each burgers}}
            {{#if devoured}}
            <p>{{burger_name}}</p>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>

<div class="row" id="add-burger">
    <div class="col-md-3">
    </div>
    <div class="col-md-6" id="burger-form">
        <form class="create-form">
            <h3>Create Your Own Burger</h3>
            <div class="form-group">
                <label for="burger">Burger Name:</label>
                <input type="text" id="burger" name="name">
            </div>
            <button type="submit" class="btn btn-outline-danger"><img src="assets/img/8060.jpg" alt="burger">Add Burger</button>
        </form>
    </div>
    <div class="col-md-3">
    </div>
</div>


<script>
    $(function () {
        $(".customer-form").on("submit", function (event) {
            event.preventDefault();
            var id = $(".devour").data("id");
            var eaten = $(".devour").data("devoured");

            var newEatenState = {
                devoured: eaten
            };

            var customerName = $("#eaten-by").val().trim();
            var burgerEatenBy = {
                customer_name: customerName
            };
            console.log(burgerEatenBy);
            // Send the PUT request.
            $.ajax("/api/burgers/" + id, {
                type: "PUT",
                data: newEatenState
            }).then(
                function () {
                    // Reload the page
                    //location.reload();
                }
            );
            $.ajax("/api/customers/", {
                type: "POST",
                data: burgerEatenBy
            }).then(
                function () { 
                    console.log("Added Customer");
                })
        });


        $(".create-form").on("submit", function (event) {
            event.preventDefault();
            var newBurger = {
                burger_name: $("#burger").val().trim()
            };
            if (newBurger.burger_name) {
                // Send the POST request.
                $.ajax("/api/burgers", {
                    type: "POST",
                    data: newBurger
                }).then(
                    function () {
                        // Reload the page
                        location.reload();
                    }
                );
            };
        });
    });
</script>